* text=auto

*.html text
*.js text
*.css text

*.html diff=html
*.css diff=css
*.png diff=image
*.svg diff=image


*.sln text eol=crlf
*.bat eol=crlf
*.json eol=crlf
*.xml eol=crlf
*.cmd eol=crlf

.sh eol=lf

*.jpg binary