.dzen-widget {
  position: absolute;
  top: 140px;
  right: 12px;
  width: 178px;
  height: 110px;
  cursor: pointer;

  &:hover &__adme {
    transform: translateX(-15px);
    transition: transform 0.2s ease-out;
  }

  &:hover &__options {
    opacity: 0.3;
    transition: opacity 0.5s ease-in;
  }

  &__adme {
    position: absolute;
    top: 0;
    left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px 14px;
    width: 180px;
    height: 105px;
    font-size: 12px;


    &._shadow-box {
      box-shadow: 0 0 2px 0 @shadow-box,
      0 2px 6px 0 @shadow-box;
    }

  }


  &__title {
    color: @invisible;
  }

  &__icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    background: no-repeat 50% 50%
    url(//yastatic.net/www/_/l/k/6M7W5FSbzlIewGZuhpoRv2gag.svg);
    background-size: 18px 18px;
  }

  &__text {
    margin-top: 8px;
  }

  &__options {
    position: absolute;
    top: 10px;
    right: 2px;
    width: 24px;
    height: 24px;
    background-image: url(//yastatic.net/www/_/k/8/gsSjWTalZ0Zl-yefsGisz0YJA.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 24px 24px;
    opacity: 0;
  }

  &__options:hover {
    opacity: 1 !important;
    transition: opacity 0s !important;
  }
}


