.dzen-widget {
  position: absolute;
  top: 120px;
  right: -250px;

  &__title {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 13px;
    color: #999;
  }

  &__text {
    padding: 5px;
    font-size: 13px;
  }
}
