.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 58px;
  margin: 0;
  min-width: 1000px;
  font-family: 'YS Text', Arial, Helvetica, sans-serif;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-right: 36px;
    min-width: 900px;
    height: 351px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    margin-right: 6px;
    width: 294px;
  }
}