.location {

  text-decoration: none;
  color: #999;
  cursor: pointer;
  font-family: 'YS Text', Arial,Helvetica, sans-serif;
  font-size: 13px;

  &__value {
    display: inline-block;
    text-align: right;
    position: relative;
    left: 20px;
    top: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

.location:hover {
  color: #cc0000;
}