.location {
    position: absolute;
    top: 10px;
    left: 18px;
    width: 66.88px;
    height: 42px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: #cc0000;
    }

    &:hover &__svg {
        fill: #cc0000;
        opacity: 1;
    }

    &__svg {
        position: absolute;
        left: 0;
        top: 50%;
        width: 19px;
        height: 19px;
        opacity: 0.3;
        transform: translateY(-50%);

    }



    &__value {
        position: absolute;
        top: 0;
        right: 0;
        padding-left: 21px;
        width: 45.87px;
        height: 42px;
        line-height: 42px;
        color: #999;
        font-family: 'YS Text', Arial, Helvetica, sans-serif;
        font-size: 12px;

        &:hover {
            color: #cc0000;
        }
    }
}



