.mail-widget {
    display: flex;
  position: absolute;
  top: 11px;
  right: 14px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  width: 180px;
  height: 120px;
  font-size: 12px;

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 152px;
    }

    &__nav:first-child {
        justify-content: space-between;
    }

    &__email {
        height: 15px;
    }

}

._button {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 152px;
    line-height: 30px;
    font-family: 'YS Text', Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}

._shadow-box {
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1),
    0 2px 6px 0 rgba(0,0,0,.1);
    width: 180px;
}

._button:hover {
  background-color: #dedede;
}