._pale {
  color: #999;
  font-size: 13px;
}

.mail-widget {
  position: absolute;
  top: 10px;
  right: -250px;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;


  &__link {
    width: 140px;
    padding: 10px 8px;
    margin: auto;
    min-height: 10px;
  }

  &__top-line {
    display: inline-block;
    position: relative;
  }
}

._right {
  position: absolute;
  right: 23px;
  top: 7px;
}

._left {
  position: absolute;
  left: 23px;
  top: 7px;
}

._shadow-box {
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1),
  0 2px 6px 0 rgba(0,0,0,.1);
  width: 200px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: -250px;
}

._bonus {
  color: #0080ff;
}

._button {
  background-color: #f2eded;
  border-radius: 3px;
}

._button:hover {
  background-color: #dedede;
}