.mail-widget {
    display: flex;
    position: absolute;
    top: 12px;
    right: 12px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    padding: 12px 14px;
    width: 152px;
    height: 96.6px;
    font-size: 12px;

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 32.2px;
        width: 152px;
    }

    &__nav:first-child {
         position: relative;
         justify-content: flex-start;
         align-items: flex-start;
     }

    &__nav:nth-child(2){
        padding-top: 7px;
        padding-bottom: 8px;
        height: 15.2px;
        background-color: @mail-btn;
        border-radius: 3px;
        cursor: pointer;
    }

    &__nav:last-child {
        padding-top: 14px;
        padding-bottom: 4px;
        height: 14.2px;
    }

    &__nav:nth-child(2):hover {
        background-color: @mail-btn-hover;
    }

    &__registration {
        position: absolute;
        top: 0;
        right: 0;
    }

    &._shadow-box {
        box-shadow: 0 0 2px 0 @shadow-box,
                    0 2px 6px 0 @shadow-box;
        width: 152px;
    }


    &._button:hover {
        background-color: @mail-btn-hover;
    }

}

