.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 110px;
    max-width: 900px;


    &__logo-img {
        position: absolute;
        top: 250px;
        left: -5px;
        width: 140px;
        height: 100px;

    }

    &__block {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;

      /*  min-width: 880px;*/

    }

   /* TODO &__block:last-of-type {
        justify-content: flex-end;
    }*/

    &__list {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding-left: 0;
        height: 36px;
        list-style: none;
    }

    &__list-item:not(:first-child) {
        margin-left: 17px;
    }

    &__list-link {
        font-weight: normal;
    }

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        /*padding-right: 64px;*/
    }

    &__field {
        min-width: 596px;
        height: 36px;
        border: 2px solid #ffd633;

    }


    &__button {
        display: inline-block;
        width: 88px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        list-style: none;
        background-color: #ffdb4d;
        border-style: none;

    }

    &__text {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        height: 15px;
        font-size: 12px;
    }

    &__offer {
        display: inline-block;
        position: relative;
        margin-left: 243px;
        width: 280px;
        height: 15px;
    }

    &__button:hover {
        cursor: pointer;
        background-color: #ffd633;
    }
}
