.settings-link {
  display: inline-block;
  text-align: right;
  position: absolute;
  left: 700px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-family: 'YS Text', Arial, Helvetica, sans-serif;

}

._dark {
  color: black;
  font-size: 13px;
}

.link:hover {
  color: #cc0000;
}