.widget {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: stretch;
    padding: 8px 4px 4px 20px;

    &._wheather {
        height: 78.4px;
    }

    &._traffic-jam {
        height: 78.4px;
    }

    &._map {
        height: 78.4px;
    }


    &._sites {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }

    &__title {
        display: inline-block;
        margin: 0;
        margin-top: 4px;
        margin-bottom: 10px;
    }

    &__list {
        margin: 0;
        padding-left: 0;
        line-height: 16px;
        list-style: none;
    }

    &__list-items {
        margin-bottom: 10px;
    }

    &__traffic-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;

    }

    &__tv-time {
        font-size: 12px;
    }

    &__tv-chanels {
        color: #999;
    }

    &__list-map {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__list-map-items {
        margin-right: 15px;
        margin-bottom: 10px;
    }


    &__list-items:last-of-type {
        font-weight: bold;
    }

    &__usual-text {
        font-size: 12px;
        color: #999;
    }


}


