@-webkit-keyframes advert-image {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  8% {
    -webkit-transform: translateY(-172px);
            transform: translateY(-172px);
  }
  14% {
    -webkit-transform: translateY(-172px);
            transform: translateY(-172px);
  }
  18% {
    -webkit-transform: translateY(-86px);
            transform: translateY(-86px);
  }
  95% {
    -webkit-transform: translateY(-86px);
            transform: translateY(-86px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes advert-image {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  8% {
    -webkit-transform: translateY(-172px);
            transform: translateY(-172px);
  }
  14% {
    -webkit-transform: translateY(-172px);
            transform: translateY(-172px);
  }
  18% {
    -webkit-transform: translateY(-86px);
            transform: translateY(-86px);
  }
  95% {
    -webkit-transform: translateY(-86px);
            transform: translateY(-86px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.advert {
  position: relative;
  padding-left: 36px;
  height: 108px;
  min-width: 900px;
  font-size: 12px;
}
.advert__content-block {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  height: 90px;
  width: 760px;
  z-index: 1;
  background-color: #f5f5f5;
  overflow: hidden;
}
.advert__image {
  width: 259px;
  height: 260px;
  z-index: 1;
  background-image: url("//yastatic.net/www/_/j7Q9M8/2e8e10BuYO/xI4/pe25RoaMEP/rMijbZ/Ea/wtR7cia2/paA9v/27A8mxdb/HYt/bSh7Kg/pPgYfdfjhV/ms/phvJqSJL/MyxFI/gQDa50/7mFobabQ");
  background-size: cover;
  -webkit-animation: advert-image 40s linear infinite alternate;
          animation: advert-image 40s linear infinite alternate;
}
.advert__direct {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 6px 8px 7px;
  z-index: 3;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.24);
  border-bottom-right-radius: 4px;
}
.advert__direct:hover {
  z-index: 3;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.advert__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 2;
  cursor: pointer;
}
.advert__content {
  padding: 12px;
  margin-bottom: 0;
  width: 330px;
}
.advert__text {
  margin-top: 5px;
}
.advert__title {
  font-size: 15px;
  font-weight: bold;
}
.advert__more-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advert__button {
  display: inline-block;
  width: 121px;
  height: 32px;
  line-height: 32px;
  z-index: 100;
  text-align: center;
  color: white;
  border-radius: 3px;
  background-color: #2ea5f4;
}
.advert__button:hover {
  background-color: #0998fa;
  cursor: pointer;
}
.advert__site {
  display: inline-block;
  width: 121px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #999;
  z-index: 4;
  font-size: 10px;
}
.advert__site:hover {
  color: black;
  cursor: pointer;
}
.advert__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  z-index: 4;
  background: url(//yastatic.net/www/_/R/6/NrxzASAPi9QSmGS6qAwJt-XRA.svg) center center #fff no-repeat;
  background-color: #f5f5f5;
}
.advert__close:hover {
  cursor: pointer;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dzen-widget {
  position: absolute;
  top: 141px;
  right: 0;
  width: 192px;
  height: 110px;
  cursor: pointer;
}
.dzen-widget:hover .dzen-widget__adme {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.dzen-widget:hover .dzen-widget__options {
  opacity: 0.3;
  transition: opacity 0.5s ease-in;
}
.dzen-widget__adme {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 14px;
  width: 152px;
  font-size: 12px;
}
.dzen-widget__adme._shadow-box {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.dzen-widget__title {
  color: #999;
}
.dzen-widget__icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  background: no-repeat 50% 50% url(//yastatic.net/www/_/l/k/6M7W5FSbzlIewGZuhpoRv2gag.svg);
  background-size: 18px 18px;
}
.dzen-widget__text {
  margin-top: 8px;
}
.dzen-widget__options {
  position: absolute;
  top: 10px;
  right: 2px;
  width: 24px;
  height: 24px;
  background-image: url(//yastatic.net/www/_/k/8/gsSjWTalZ0Zl-yefsGisz0YJA.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 24px 24px;
  opacity: 0;
}
.dzen-widget__options:hover {
  opacity: 1 !important;
  transition: opacity 0s !important;
}
.h2 {
  font-size: 15px;
}
.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 58px;
  margin: 0;
  min-width: 1000px;
  font-family: 'YS Text', Arial, Helvetica, sans-serif;
}
.layout__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-right: 36px;
  min-width: 850px;
  height: 351px;
}
.layout__col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  margin-right: 6px;
  width: 100%;
}
.link {
  font-family: 'YS Text', Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: black;
}
.link:hover {
  color: #cc0000;
  cursor: pointer;
}
.link__wheather-icon {
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  background-image: url("//yastatic.net/www/2.1768/common/blocks/weather-icons/general/skc-n.png");
}
.link:hover + .link._quantity {
  color: #cc0000;
}
.link__light-icon {
  margin-right: 5px;
  width: 30px;
  height: 33px;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='30' viewBox='0 0 33 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M28.833 17.404c.027-.37 0-1.506 0-1.882 3-8.254-6.681-14.944-14.922-14.944-4.065 0-7.716 1.66-10.44 4.264C1.024 7.18.001 10.58.001 12.962c0 3.046 1.89 4.442 3.465 4.442h25.367z' fill='%235f9034'/%3E%3Cpath d='M33 15c0 7.965-6.458 14.422-14.422 14.422-7.965 0-14.423-6.457-14.423-14.422C4.155 7.034 10.613.578 18.577.578 26.543.578 33 7.034 33 15z' fill='%2376b342'/%3E%3Cpath d='M18.323.58l.254-.002C26.542.578 33 7.034 33 15c0 .572-.034 1.137-.099 1.692-2.3-.014-4.073-.994-4.653-3.75-1.092-5.193-4.832-9.635-9.904-11.474a15.41 15.41 0 0 0-2.451-.642h.002a15.791 15.791 0 0 0-2.51-.246h4.938z' fill='%23333'/%3E%3C/g%3E%3C/svg%3E ");
}
.link__degree {
  font-size: 24px;
  font-weight: bold;
}
.link__text {
  font-weight: bold;
}
.link._invisible {
  color: #999;
}
.link._invisible:hover {
  color: #cc0000;
}
.link._primary {
  color: #0054b9;
  font-weight: bold;
  font-size: 15px;
}
.link._primary:hover {
  color: #cc0000;
}
.link._extra {
  color: #0998fa;
  font-size: 12px;
}
.link._extra:hover {
  color: #cc0000;
}
.link._quantity {
  font-size: 30px;
  padding-right: 15px;
}
.location {
  position: absolute;
  top: 10px;
  left: 18px;
  width: 66.88px;
  height: 42px;
  text-decoration: none;
  cursor: pointer;
}
.location:hover {
  color: #cc0000;
}
.location:hover .location__svg {
  fill: #cc0000;
  opacity: 1;
}
.location__svg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 19px;
  height: 19px;
  opacity: 0.3;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.location__value {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 21px;
  width: 45.87px;
  height: 42px;
  line-height: 42px;
  color: #999;
  font-family: 'YS Text', Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.location__value:hover {
  color: #cc0000;
}
.mail-widget {
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  padding: 12px 14px;
  width: 152px;
  height: 96.6px;
  font-size: 12px;
}
.mail-widget__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32.2px;
  width: 152px;
}
.mail-widget__nav:first-child {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}
.mail-widget__nav:nth-child(2) {
  padding-top: 7px;
  padding-bottom: 8px;
  height: 15.2px;
  background-color: #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}
.mail-widget__nav:last-child {
  padding-top: 14px;
  padding-bottom: 4px;
  height: 14.2px;
}
.mail-widget__nav:nth-child(2):hover {
  background-color: #dedede;
}
.mail-widget__registration {
  position: absolute;
  top: 0;
  right: 0;
}
.mail-widget._shadow-box {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  width: 152px;
}
.mail-widget._button:hover {
  background-color: #dedede;
}
.news {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding-right: 36px;
  padding-bottom: 15px;
  width: 60%;
  min-width: 900px;
  height: 215px;
}
.news__now {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  flex-shrink: 1;
  padding: 8px 4px 29.2px 0;
  width: 55%;
}
.news__now:hover .news__svg {
  fill-opacity: 0.4;
  transition: fill-opacity 0.5s ease-in 1s;
}
.news__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 27px;
}
.news__svg {
  width: 27px;
  height: 27px;
  fill-opacity: 0;
}
.news__top-part {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 20px;
  padding-bottom: 10px;
  height: 16px;
}
.news__location {
  padding-left: 12px;
  font-weight: bold;
  font-size: 13px;
}
.news__text {
  padding-left: 12px;
  color: #999;
  font-size: 12px;
}
.news__time {
  padding-left: 4px;
  color: #999;
  font-size: 12px;
  font-weight: lighter;
}
.news__list {
  display: inline-block;
  margin: 0;
  padding-left: 0;
  width: 100%;
  line-height: 14px;
  text-align: left;
  list-style: none;
}
.news__list-item {
  position: relative;
  padding-left: 21px;
  margin-bottom: 10px;
}
.news__list-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(//yastatic.net/s3/home/news/desktop/blue/rt.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  cursor: pointer;
}
.news__advert {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 8px 4px 4px 20px;
  width: 25%;
}
.news__image {
  width: 120px;
  height: 90px;
  background-image: url("https://avatars.mds.yandex.net/get-banana/41024/x25B02YzgtEgaUUJUh7WCs7Gv_banana_20161021_teaser_240x180_4.png/optimize");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.news__h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.news__text._usual-text {
  display: inline-block;
  padding-left: 0;
  padding-bottom: 0;
  color: black;
}
.news__text._age {
  position: absolute;
  top: 22px;
  left: 130px;
  width: 12px;
  height: 12px;
}
.settings-link {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 221px;
  width: 92px;
  height: 42px;
  line-height: 39px;
  text-align: right;
  vertical-align: top;
}
.search {
  position: relative;
  padding-right: 36px;
  height: 115px;
  min-width: 500px;
  width: 80%;
  border: 1px solid;
}
.search__logo-image {
  position: absolute;
  top: 0;
  left: -140px;
  width: 140px;
  height: 100px;
}
@media (max-width: 1220px) {
  .search__logo-image {
    left: 0;
  }
}
.search__block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 1220px) {
  .search__block {
    padding-left: 142px;
  }
}
.search__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding-left: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  list-style: none;
}
.search__list-item:not(:first-child) {
  margin-left: 20px;
}
.search__list-link {
  color: #0054b9;
  font-size: 15px;
}
.search__form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 64px;
  width: 100%;
}
.search__icon-field {
  position: relative;
  width: 100%;
  height: 36px;
}
.search__field {
  height: 36px;
  width: 100%;
  border: 2px solid #ffdb4c;
  outline: 0;
}
.search__field:focus {
  outline-offset: -2px;
}
.search__icon-microphone {
  position: absolute;
  top: 0;
  right: 42px;
  width: 32px;
  height: 100%;
  transition: opacity 0.1s ease-out;
  opacity: 0.17;
  background: url(//yastatic.net/www/_/o/p/gUBBX8WZqmSesz-PjnRuK7msk.svg) no-repeat 50% 50%;
  background-size: 24px 24px;
}
.search__icon-microphone:hover {
  opacity: 0.5;
  cursor: pointer;
}
.search__icon-keyboard {
  position: absolute;
  top: 0;
  right: 5px;
  padding-right: 11px;
  padding-left: 2px;
  width: 27px;
  height: 36px;
  opacity: 0.5;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='12'%3E%3Cpath opacity='.3' fill-rule='evenodd' clip-rule='evenodd' d='M25.693 0h-24.153c-1.104 0-1.527.422-1.527 1.527v8.961c0 1.105.423 1.527 1.527 1.527h24.153c1.104 0 1.307-.422 1.307-1.527v-8.961c0-1.105-.202-1.527-1.307-1.527zm-2.672 2.061h1.935v1.934h-1.935v-1.934zm-6 0h1.935v1.934h-1.935v-1.934zm2.935 3v1.934h-1.935v-1.934h1.935zm-5.935-3h1.935v1.934h-1.935v-1.934zm2.935 3v1.934h-1.935v-1.934h1.935zm-5.935-3h1.935v1.934h-1.935v-1.934zm2.935 3v1.934h-1.935v-1.934h1.935zm-5.935-3h1.935v1.934h-1.935v-1.934zm2.935 3v1.934h-1.935v-1.934h1.935zm-5.935-3h1.935v1.934h-1.935v-1.934zm-3 0h1.935v1.934h-1.935v-1.934zm0 3h2.994v1.934h-2.994v-1.934zm3.95 4.933h-3.978v-1.933h3.978v1.933zm.05-4.933h1.935v1.934h-1.935v-1.934zm13.95 4.933h-12.963v-1.933h12.963v1.933zm.05-7.933h1.935v1.934h-1.935v-1.934zm4.95 7.933h-3.978v-1.933h3.978v1.933zm.029-2.999h-3.979v-1.934h3.979v1.934z'/%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.search__icon-keyboard:hover {
  opacity: 1;
  transition: opacity 0.1s ease-out;
  cursor: pointer;
}
.search__button {
  display: inline-block;
  position: relative;
  width: 79px;
  height: 36px;
  line-height: 34px;
  vertical-align: top;
  font-size: 16px;
  list-style: none;
  background-color: #ffdb4c;
  border-style: none;
}
.search__button:hover {
  cursor: pointer;
  background-color: #ffd633;
}
.search__button:hover::before {
  border-left-color: #ffd633;
}
.search__button::before {
  position: absolute;
  top: -2px;
  right: -9px;
  content: '';
  width: 0;
  height: 0;
  border-width: 20px 0 20px 10px;
  border-style: solid;
  border-color: #ffdb4c;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
}
.search__text {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 8px;
  padding-right: 64px;
  width: 100%;
  height: 15px;
  font-size: 12px;
}
.search__offer {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 64px;
  height: 15px;
}
.search__icon {
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 15px;
}
.widget {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  padding: 8px 4px 4px 20px;
  width: 90%;
}
.widget:hover .widget__svg {
  fill-opacity: 0.4;
  transition: fill-opacity 0.5s ease-in 1s;
}
.widget._map:hover .widget__svg {
  transition: fill-opacity 0s;
}
.widget._wheather {
  height: 78.4px;
}
.widget._traffic-jam {
  height: 78.4px;
}
.widget._sites {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.widget__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 27px;
}
.widget__svg {
  width: 27px;
  height: 27px;
  fill-opacity: 0;
}
.widget__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.widget__title {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 10px;
}
.widget__list {
  margin: 0;
  padding-left: 0;
  line-height: 16px;
  list-style: none;
}
.widget__list-items {
  margin-bottom: 10px;
}
.widget__traffic-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.widget__time {
  font-size: 12px;
}
.widget._poster .widget__list-items:last-of-type {
  font-weight: bold;
}
.widget__list-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget__list-map-items {
  margin-right: 15px;
  margin-bottom: 10px;
}
.widget__usual-text {
  font-size: 12px;
  color: #999;
}
.widget._tv .widget__tv-button {
  position: absolute;
  top: 8px;
  left: 160px;
  padding: 0 7px 0 0;
  width: 85px;
  height: 22px;
  line-height: 23px;
  vertical-align: top;
  text-align: right;
  font-size: 13px;
  color: #fff;
  border-radius: 5px;
  background-color: #418af9;
  background-image: linear-gradient(-225deg, #58c2ff 0%, #8080ff 100%);
}
.widget._tv .widget__tv-button:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  cursor: pointer;
  z-index: 5;
}
.widget__triangle {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 8px;
  height: 9px;
  background: url("https://yastatic.net/www/_/_/g/wLmTI9DsolsX51zBbYe_uAFUM.svg") 50% 50% no-repeat;
  background-size: 100%;
}
